*{
  padding: 0;
  margin: 0;
}

.App{
  display: flex;
}

#root > div > div.navbar{
  width: 100%;
}
#root > div > div > div.navbar-container container{
  width: 100%;
}
#root > div > div > div{
  width: 100%;
}
#root > div > div > div > div.navbar-logo > a > img {
  display: flex;
  flex-direction: column;
  max-width: 180px;
}